<section id="games" class="container search-container">
  <h1>All My Games</h1>

  {{#each games}}
    <div class="game">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <ul>
        <li>Hours Played: {{playtime_forever}}</li>
        <li><a data-id={{game.id}} class="btn btn-danger">DELETE</a></li>
      </ul>
      <div class="image">
        {{image}}
      </div>
    </div>
  {{else}}
    <p>No games available</p>
  {{/each}}

</section>
