<section id="game" class="container">
  

    {{#if game.appID}}
    <h1>{{game.title}}</h1>
    <div class="game">
      
      <p>AppID: {{game.appID}}</p>
      <ul>
        <li>Hours Played: {{game.playtime_forever}}</li>
        <li><a data-id={{game.id}} class="btn btn-danger">DELETE</a></li>
      </ul>
      {{!-- <div class="image">
        {{image}}
      </div>
    </div> --}}
   
  {{else}}
    <p>No games available</p>
   {{/if}}

</section>