<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>Played by {{user.name}} on {{format_date}}</p>
  <p>
    <span class="time-spent">{{format_date time_played}}</span>
    time total
  </p>
</div>


<script src="./js/games.js"></script>